$technology-spacing: 10px;

.technology-header {
  overflow: hidden;
  margin-bottom: $technology-spacing;

  .technology-image {
    float: left;
    margin: 0px 20px 0px 20px;
  }
}

.typeahead-input ul{
  height:300px;
  overflow:auto;
}

.technology-status-margin{
  margin-bottom: 32px;
}

.technolgoy-description-item{
  margin-left: 10px;
}

.technology-image {
  border: 1px solid #ddd;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto ($technology-spacing / 2);
  display: block;
  background-color: #fff;
  margin: 0 auto 10px;

  &,
  & img {
    width: 125px;
    height: 125px;
  }
}
.technology-name {
  display: inline-block;
  margin: 0 0 ($technology-spacing / 2);
}
.technology-meta {
  margin: 0;
  padding: 0;
  font-style: 12px;

  li {
    list-style: none;
    // display: inline;
    margin-bottom: ($technology-spacing / 2);

    &:last-of-type {
      margin: 0;
    }
  }

  &,
  & a {
    @extend .technology-last-activity;
  }
}
.technology-last-activity {
  color: $gray-light;
}

.card-title + .technology-recommendation {
  position: relative;
  top: 5px;
}

.technology-section {
  position: relative;
  padding-top: $technology-spacing;
  margin-bottom: $technology-spacing;

  // & + & {
  //   border-top: solid 1px $border-color;
  // }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.technology-rating {
  position: relative;
  overflow: hidden;
  margin-right: 8px;
  text-align: center;
  opacity: .3;

  &:last-of-type {
    margin: 0;
  }

  &.active {
    opacity: 1;
  }
}
.technology-rating-image {
  display: block;
  margin: 0 auto;
  width: 78px;
  height: 78px;
}
.technology-rating-text {
  display: block;
  margin: 5px 0 0;
}
.technology-status {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

.technology-rating-input,
.technology-recommendation-input {
  position: absolute !important;
  visibility: hidden;
}
.technology-endorsement,
.technology-comment {
  margin-bottom: $technology-spacing;
  width: 100%;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.technology-endorsement-image {
  border: 1px solid #ddd;
  overflow: hidden;
  display: block;
  border-radius: 100%;
  background-color: #fff;

  &,
  & img {
    width: 50px;
    height: 50px;
  }
}

.selected-pipedrive{
  background-color : #ccc;
}

.technology-comment-image {
  border: 1px solid #ddd;
  overflow: hidden;
  display: block;
  border-radius: 100%;
  background-color: #fff;

  &,
  & img {
    width: 30px;
    height: 30px;
  }
}

.technology-endorsement-plus-image,
.technology-comment-meta-image,
.technology-recommendation-meta-image {
  width: 30px;
  height: 30px;
}

.technology-comments,
.technology-recommendations {
  margin: $technology-spacing 0;
  padding: 0;
}

.technologies-box {
    display: inline-block;
    clear: both;
}

.offers-box {
    display: inline-block;
    clear: both;
}

.tower-box {
    display: inline-block;
    clear: both;
}

.technology-offer {
    background-color: #20bec6 !important;
    clear: both;
    display: inline-block;
    margin: 6px 4px 0px 0px;
}

.technology-tower {
    background-color: #FF546E !important;
    clear: both;
    display: inline-block;
    margin: 6px 4px 0px 0px;
}

.technology-comment,
.technology-techology {
  background-color: #FFE255 !important;
  margin: 6px 4px 0px 0px;
  list-style: none;
  float: left;
  color: #333;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.technology-recommendation-value {
  width: 40px;
  text-align: center;

  .glyphicon {
    font-size: 20px;
    margin-top: 5px;
  }

  .glyphicon-thumbs-up {
    color: $brand-success;
  }

  .glyphicon-thumbs-down {
    color: $brand-danger;
  }
}

.technology-recommendation-meta,
.technology-comment-meta {
  margin-top: 5px;
  font-size: 12px;
  color: $gray-light;
}

#div_image img {
  width: 71px;
  height: 71px;
  display: inline-block;
  margin-bottom: 0;
}

.technology {
  .dropdown-menu > li > a {
    cursor: pointer;
  }
}

.boxchip{
    display: inline-block;
    border-color: #ccc;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;

}
.chip {
    display: inline-block;
    padding: 0 25px;
    margin: 3px 3px;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ccc;
}

.closebtn {
    padding-left: 20px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}
