<div class="technologies">
  <!-- TECHNOLOGIES TOOLBAR -->
  <div class="toolbar btn-toolbar" role="toolbar">
    <div class="container">
      <div class="pull-left">
        <form class="form-inline">
          <div class="form-group">
            <label for="technology-filter" tabindex="0" tooltip-placement="bottom" uib-tooltip="Filter by"><span class="glyphicon glyphicon-filter"></span></label>
            <select ng-disabled="technologies.loading" ng-model="technologies.statusFilter" ng-change="technologies.updateFilters()"
              class="form-control" id="technology-filter">
              <option value="">All</option>
              <option value="open">Open</option>
              <option value="lost">Lost</option>
              <option value="won">Won</option>
            </select>
            <select ng-disabled="technologies.loading" id="technology-filter" ng-model="technologies.offerFilter" ng-change="technologies.updateFilters()"
              class="form-control">
              <option value="">All</option>
              <option ng-repeat="offer in technologies.offers" value="{{offer}}">{{offer}}</option>
            </select>
            <select ng-disabled="technologies.loading" id="technology-filter" ng-model="technologies.towerFilter" ng-change="technologies.updateFilters()"
              class="form-control">
              <option value="">All</option>
              <option ng-repeat="tower in technologies.towers" value="{{tower}}">{{tower}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="technology-order" tabindex="0" tooltip-placement="bottom" uib-tooltip="Last activity"><span class="glyphicon glyphicon-time"></span></label>
            <select ng-disabled="technologies.loading" ng-model="technologies.lastActivityDateFilter" ng-change="technologies.updateFilters()"
              class="form-control" id="technology-order">
              <option value="">Select</option>
              <option value="0">Last month</option>
              <option value="1">Last 6 months</option>
              <option value="2">Last 12 months</option>
            </select>
          </div>
          <div class="form-group" ng-if="technologies.statusFilter || technologies.orderFilter || technologies.lastActivityDateFilter">
            <button type="reset" class="btn btn-default btn-sm" ng-click="technologies.resetFilters()" tooltip-placement="bottom" uib-tooltip="Clear filters"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </form>
      </div>

      <div class="btn-group pull-right" role="group" ng-if="isUserLogged">
        <a href="#/proposals/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new proposal</a>
      </div>
    </div>
  </div>

  <loading ng-if="technologies.loading"></loading>
  <div class="content container" ng-if="!technologies.loading">

    <div class="row">
      <div class="col-md-12" ng-if="app.alert.message.length">
        <uib-alert type="{{ app.alert.type }}" close="app.closeAlert()">
          {{ app.alert.message }}
        </uib-alert>
      </div>
    </div>
    <div class="row" ng-if="technologies.items.length">
      <div class="col-sm-6 col-md-4" ng-repeat="technology in technologies.items">
        <div class="card">
          <div class="card-join">
            <div class="card-header card-section">
              <div class="technology-image">
                <a href="#/proposals/{{ technology.id }}"><img ng-src="{{ technology.image }}" data-placeholder-img></a>
              </div>
              <h3 class="card-title"><a href="#/proposals/{{ technology.id }}">{{ technology.name }}</a></h3>
              <span>{{ technology.client }}</span>
              </br>
              <div class="tower-box">
                <span class="label label-default technology-tower">{{ technology.tower }}</span>
              </div>
              </br>
              <div class="offers-box">
                <span class="label label-default technology-offer" ng-repeat="offer in technology.offers">{{ offer }}</span>
              </div>
              </br>
              <div class="technologies-box">
                <span class="label label-default technology-techology" ng-repeat="tech in technology.technologies">{{ tech }}</span>
              </div>
            </div>
            <div class="card-content card-section">
              <div class="technology-description">
                <p>{{ technology.shortDescription }}</p>
              </div>
            </div>
          </div>
          <div class="card-actions card-section" ng-if="isUserLogged">
            <div class="pull-left">
              <button type="button" ng-click="technologies.followTechnology(technology.id, $event)" ng-class="technologies.setFollowedClass(technology.followedByUser)"><span class="glyphicon glyphicon-star-empty"></span> Follow</button>
            </div>
            <div class="pull-right">
              <a ng-href="{{technology.pipedriveLink}}" target="_blank" ng-if="technology.pipedriveLink" class="btn primary  btn-xs"><img src="assets/images/pipedrive.png" title="Link to pipedrive" class="pull-left" /></a>
              <a ng-href="{{technology.website}}" target="_blank" ng-if="technology.website" class="btn primary  btn-xs"><img src="assets/images/googledrive.png" title="Link to google drive" class="pull-left" /></a>
              <a ng-href="#/proposals/{{ technology.id }}/edit" class="btn btn-default btn-xs" title="Edit {{ technology.name }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
              <button type="button" ng-if="loggedUserInformation.admin" ng-click="technologies.deleteTechnology(technology.id)" class="btn btn-danger btn-xs"
                title="Delete {{ technology.name }}"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
          </div>
          <div class="card-meta card-section">
            <div class="row">
              <div class="col-md-10">
                <div class="titleThumbnail">
                  <span class="glyphicon glyphicon-user"></span> {{ technology.endorsersCounter }}
                  <span class="glyphicon glyphicon-list-alt"></span> {{ technology.commentariesCounter }}
                </div>
                <small class="technology-last-activity">
                  <span class="lastActivityLabel">Created at </span>
                  <time>{{ technology.creationDate | date:"dd/MM/yyyy H:mm" }}</time>
                </small>
              </div>
              <div>
                <img ng-src="assets/images/{{technologies.getImageStatus(technology.status)}}" class="technology-status" data-toggle="tooltip"
                  data-placement="bottom" title='Status: {{technology.status}}'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!technologies.items.length">
      No proposals found.
    </div>
  </div>
</div>